<div class="row gx-0 gap-0">
  <% @bookmarks.each do |bookmark| %>
    <div class="col-6 row gx-0 gap-0 p-0 m-0 movie-card-border">
      <img src=<%= bookmark.movie.poster_url %> alt="Movie poster" class="col-5 object-fit-cover p-4 m-0 image-border">
      <div class="movie-details col-7 p-4">
        <div class="movie-header">
          <button class="label"><%= bookmark.list.name %></button>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-light border border-secondary" do %>
            <i class="fa-solid fa-x"></i>
          <% end %>
        </div>
        <h3 class="movie-title"><%= bookmark.movie.title %></h3>
        <p class="movie-text"><%= bookmark.movie.overview %>.</p>
        <p class="movie-text">Remark: <em><%= bookmark.comment %></em></p>
      </div>
    </div>
  <% end %>
</div>
