<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <h3><%= link_to 'WatchList', lists_path, class: "text-decoration-none text-dark p-0 m-0" %></h3>
      <p><%= link_to "Add List", new_list_path, class: "btn btn-sm" %></p>
    </nav>
    <%= yield %>
  </body>
</html>

    <%# <nav class="navbar-lewagon">
      <div class="container-fluid p-1">
      </div>
    </nav> %>
